@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

html {
  font-size: 12px;
}

.container {
  width: 100%;
  height: 100%;
  height: 100vh;
}

.card-title {
  position: relative;
  padding-left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.25rem;
    height: 100%;
    background-color: var(--primary-color);
    vertical-align: middle;
    display: inline-block;
  }
}

.p-card {
  box-shadow: 0 0 6px 4px var(--surface-100);
  .p-card-content {
    padding: 0;
  }
}
